.inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.input {
    width: 80%;
    height: 25px;
    border-radius: 5px;
    border: #ccc 1px solid;
    padding: 8px 8px 8px 10px;
    font-size: 16px;
}
.currency {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
}
