.converterWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lavender;
    height: 100%;
    width: 100%;
    min-height: 100vh;
}
